*{
    margin: 0;
    padding: 0;
}


.nav {
    display: flex;
    background-color: rgb(23, 95, 23);
    align-items: center;
    justify-content: flex-end;
    gap: 1.5rem;
    padding: 10px;
}
 img{
    height: 40px;
    border-radius: 50%;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* object-fit: cover;
    padding-right: 10px; */
}

h4 {
    font-weight: 900;
    font-size: 20px;
    color: white;
}

.nav-links {
    background-color: rgb(20, 15, 15);
    padding: 12px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.nav-home {
    text-decoration: none;
    color: white;
}

.nav-home:hover {
    background-color: tomato;
    color: white;
    padding: 10px;
}

a {
    text-decoration: none;
    color: black;
}

.all-sides {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.left-side {
    display: grid;
    gap: 1rem;
    padding: 25px;
}

.courses-link {
    display: grid;
    gap: 1rem;
    padding: 25px;  
}

a:hover {
    background-color: green;
    padding: 10px;
    color: white;
    border-radius: 5px;
    transform: all 3ms ease;
}

.flow {
    overflow: scroll;
}

